
.section-welcome {
  section {
    padding-block: 3rem;

    @media (width >= 768px) {
      .w-md-75 {
        width: 75% !important;
      }
    }

    @media (width >= 992px) {
      .w-lg-50 {
        width: 50% !important;
      }
    }
  }
}

.section-owners {
  .profile-card {
    transition: filter 0.2s ease;

    .profile-img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .profile-card:hover {
    filter: brightness(0.85);
    cursor: pointer;
  }
  
}
