.background {
  min-height: calc(100dvh - 228px);
  background-color: var(--primary-color);

  .section-owner img {
    max-height: 31rem;
    object-fit: cover;
  }

  /* .section-pets img {
    aspect-ratio: 1.45/1;
    object-fit: cover;
  } */

  .section-pets .card {
    background-color: transparent;
    color: var(--button-color);
    border: 2px solid var(--secondary-color);
  }
}