<header class="web-header px-1">
      <div class="container">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center py-3">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-between " id="navbarContent">
              <ul class="d-flex gap-4 mb-0 p-0 align-items-center nav-ul">
                <li><a href="/">PAWWS</a></li>
                <li><a class="fw-bold" href="/">Home</a></li>
                <li><a class="fw-bold" href="/about">Sobre nosotros</a></li>
                <li><a class="fw-bold" href="/pets/allPets">Las Mascotas</a></li>
                <li><a class="fw-bold" href="/pets/newPetSelect">Registrar mascota</a></li>
              </ul>
            </div>
            <ul class="d-flex gap-3 mb-0 mt-4 mt-lg-0">
              <li><a class="button" href="/owners/login">Inicia sesión</a></li>
              <li><a class="button" href="/owners/signup">Regístrate</a></li>
            </ul>
        </nav>
      </div>
    </header>